

---
import '../sass/cartas.scss'
interface Props {
    title? : string  
    desc? :string
    classList?: string
    text?: string
    buttonText?: string
    buttonLink?: string
    
 
}

const {
  classList = '',
  title,
  text,
  buttonText,
  buttonLink,
  
} = Astro.props

const titulo = title ? title : `SUVs`
const desc = text
  ? text
  : ` Take an SUV for its spacious interior, power, and versatility. Perfect for your next
  family vacation
  and off-road adventures.`

  const cardButtonText = buttonText ? buttonText : `Learn moore`
  const cardButtonLink = buttonLink ? buttonLink : `#`


---



<section class="cartas">
    <!--Columna-->
    <article class="card  card__item--sedans">
      <img src="./images/icon-luxury.svg" alt="Sedans" class="card__icon">
      <h2 class="card__title">{titulo}</h2>
      <p  class="card__text"> 
        {desc}
      </p>
      <button class="btn btn--sedans">{cardButtonText}</button>

    </article>

    <!--Columna-->
    <article class="card card__item--suvs">
    

      <slot name='card-img'>
        <img
          class='card__icon'
          src='images/icon-suvs.svg'
          alt='img card'
          width='50px'
        />
      </slot>
      <h2 class="card__title">{titulo}</h2>


      <p class="card__text"> {desc}
      </p>

      <button  class="btn btn--suvs">{cardButtonText}</button>
    </article>

    <!--Columna-->
    <article class="card  card__item--luxury">
      
      <h2 class="card__title">Luxury</h2>
      <slot name='card-img'>
        <img
          class='card__icon'
          src='images/icon-suvs.svg'
          alt='img card'
          width='50px'
        />
      </slot>
      <p class="card__text">
      {desc}</p>

      <button class="btn btn--luxury">{cardButtonText}</button>
    </article>
  </section>



